<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>You account was created Succeessfully</h2>
        <p>You can now log in into your account using your credentials</p>
        <br />
        <p>Thank you</p>
    </div>
</div>